.vs/
.vscode/
.fake/
.paket/
.output/
.idea/
.ionide/
.tools/
.corpus/
.ionide/
paket-files/
packages/

**/bin/
**/obj/

playground/**/Debug/
playground/**/Release/

**/BenchmarkDotNet.Artifacts/

.secrets.cfg
.signing.snk

*.bak
*.user
*.suo
