storage none
framework auto-detect
source https://www.nuget.org/api/v2

nuget K4os.Hash.xxHash
nuget lz4net
nuget SharpZipLib
nuget BenchmarkDotNet

nuget xunit
nuget xunit.runner.visualstudio
nuget Microsoft.NET.Test.Sdk

# paket is not great with conditional dependencies
# nuget is not great either, but has a little bit more support for conditional sections

# nuget System.Memory framework: net462,netstandard2.0
# nuget System.Runtime.CompilerServices.Unsafe framework: net462,netstandard2.0,netstandard2.1
# nuget System.IO.Pipelines framework: net5.0,net6.0
