storage none
framework auto-detect
source https://www.nuget.org/api/v2

nuget K4os.Hash.xxHash
nuget System.Memory
nuget System.Runtime.CompilerServices.Unsafe

nuget lz4net
nuget SharpZipLib
nuget BenchmarkDotNet

nuget xunit
nuget xunit.runner.visualstudio
nuget Microsoft.NET.Test.Sdk