storage none
framework auto-detect
source https://www.nuget.org/api/v2

nuget K4os.Hash.xxHash
nuget System.Memory

nuget lz4net
nuget SharpZipLib
nuget BenchmarkDotNet

nuget xunit
nuget xunit.runner.visualstudio

# implicitly imported but we want to control version
nuget System.Runtime.CompilerServices.Unsafe 4.5.1
